<div id="Kt-portlet-margin-top">
  <kt-portlet>
    <kt-portlet-header [title]="'Configurations List'" [class]="'kt-portlet__head--lg'" id="list-header">
      <ng-container ktPortletTools>
        <button (click)="addNewConfiguration()" mat-raised-button color="primary" type="button" class="btn btn-primary">
          <span>Add Configuration</span>
        </button>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="mat-table__wrapper mat-elevation-z8" [style.height]="gridHeight">
        <div class="form-group row">
          <div class="col-lg-12 col-md-12 kt-margin-bottom-20-mobile  mat-elevation-z8" [style.height]="gridHeight">
            <div class="custom-accordion" *ngFor="let parent_configuration of configurations;let i=index">
              <div class="custom-accordion-head" (click)="toggleAccordion(i)"
                   style="cursor: pointer">
                <div class="custom-padding">
                  <h3>
                    {{parent_configuration.KeyName}}
                  </h3>
                </div>
                <div class="custom-padding" style="display: flex;
    margin-right: 10%;">
                  <button mat-icon-button color="primary">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" style="margin-left: 10%;"
                          (click)="editConfiguration(parent_configuration)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button id="{{'arrow_down_'+i}}" style="display: block">
                    <mat-icon>expand_more</mat-icon>
                  </button>
                  <button mat-icon-button id="{{'arrow_up_'+i}}" style="display:none;">
                    <mat-icon>expand_less</mat-icon>
                  </button>
                </div>
              </div>
              <div class="custom-accordion-body" id="{{'table_'+i}}" style="display: none">
                <table class="table table-responsive" style="display: inline-table !important;">
                  <thead class="thead-light">
                  <tr>
                    <th>Sr.</th>
                    <th>Key name</th>
                    <th>Key Value</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let child of parent_configuration.ChildConfigurations;let i=index;">
                    <td>{{i + 1}}</td>
                    <td>{{child.KeyName}}</td>
                    <td>{{child.KeyValue}}</td>
                    <td>
                      <div>
                        <button mat-icon-button color="primary">
                        <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" style="margin-left: 10%;"
                                (click)="editConfiguration(child)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>

        <div class="mat-table__message" *ngIf="loading">Please wait....</div>
      </div>
    </kt-portlet-body>
  </kt-portlet>

</div>
