
<div id="Kt-portlet-margin-top">
  <kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Ecib Queue'" [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTools>
        <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
        <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
      </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>

      <div class="mat-table__wrapper mat-elevation-z8" [style.height]="gridHeight">
        <mat-table class="lmat-elevation-z8"
                   #table
                   [dataSource]="dataSource"
                   matSort
                   #sort1="matSort"
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>



          <ng-container matColumnDef="TransactionId">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">Transaction Id</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.TranId}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="CREATED">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">Created</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.Created|date:'medium'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="CNIC">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">CNIC</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.Cnic}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="STATUS">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">Status</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.Status}}</mat-cell>
          </ng-container>



          <ng-container matColumnDef="NTN">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">NTN</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.Ntn}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="NAME">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">Name</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.CustomerName}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="PERMANENTADDRESS">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">Permanent Address</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.PermanentAddress}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="BRANCH">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">Branch</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.Branch}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="DOB">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-sort-header-container">Date of birth</mat-header-cell>
            <mat-cell *matCellDef="let ecibListFull">{{ecibListFull.DateOfBirth}}</mat-cell>
          </ng-container>


          <!--<ng-container matColumnDef="View">
            <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
            <mat-cell *matCellDef="let apiLog">
              <button mat-icon-button color="primary"
                      (click)="viewRequestResponse(apiLog)">
                <mat-icon>info</mat-icon>
              </button>
            </mat-cell>
          </ng-container>-->

          <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div class="mat-table__message" *ngIf="!loading && dataSource.data.length==0">No records found</div>
        <div class="mat-table__message" *ngIf="loading">Please wait....</div>
      </div>

      <div class="mat-table__bottom">
        <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
        <mat-paginator [length]="15" [pageSize]="15" [pageSizeOptions]="[15,30, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>

        <!--<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>-->
      </div>
    </kt-portlet-body>
    <!-- end::Body -->
  </kt-portlet>
</div>
