<div id="Kt-portlet-margin-top">
    <div class="kt-portlet">
      <!--[ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }"-->
      <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Correction of Phone Cell</h3>
        </div>
      </div>

      <form [formGroup]="cpForm" class="kt-form kt-form--group-seperator-dashed">
        <div class="form-group kt-form__group row">

          <!-- <kt-alert *ngIf="hasFormErrors" class="col-lg-12" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
            Please enter valid Input
          </kt-alert> -->
        
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
    
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                    <mat-label class="customMatLabel">Zone<strong class="matMandatory">*</strong></mat-label>
                    <input matInput formControlName="Zone"  maxlength="13" autocomplete="off" readonly="readonly"/>
                  </mat-form-field>
            </div>
    
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                    <mat-label class="customMatLabel">Branch<strong class="matMandatory">*</strong></mat-label>
                    <input matInput formControlName="Branch"  maxlength="13" autocomplete="off" readonly="readonly"/>
                  </mat-form-field>
            </div>
        </div>
    
        <div class="form-group kt-form__group row"> 
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                  <mat-label class="customMatLabel">CNIC#</mat-label>
                  <!-- <input appNumberOnly matInput (keyup)="changed($event)" placeholder="Enter Cnic" formControlName="Cnic"  maxlength="13" autocomplete="off" [readonly]="viewOnly"/> -->
                  <input appNumberOnly matInput placeholder="Enter Cnic" formControlName="Cnic"  maxlength="13" autocomplete="off" />
                </mat-form-field>
            </div>
        </div>
    
        <div class="form-group kt-form__group row"> 
            <div class="col-lg-2 kt-margin-bottom-20-mobile">
              <input type="button" mat-raised-button color="primary" class=" mat-raised-button mat-button-base mat-primary searchLCBtn"  value="Find" (click)="find()" />
                <!-- <button mat-raised-button color="primary" (click)="find()">Find</button> -->
            </div>
        </div>


          <div *ngIf="phoneCellTab" class="form-group kt-form__group row justify-content-center">
            <div class="col-lg-3">
              <div class="table-responsive" style="overflow-x: hidden;">
                <table class="table table-striped">
                  <thead>
                    <tr class="table-header-background text-center">
                      <th>Update Customer Phone Cell</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          <div class="row">
                            <strong class="col-lg-6">Customer Name:</strong>
                            <div class="col-lg-6">
                                <input formControlName="CustomerName" autocomplete="off"/>
                            </div>
                          </div>
                         
                      </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <strong class="col-lg-6">Father Name:</strong>
                                <div class="col-lg-6">
                                    <input formControlName="FatherName" autocomplete="off"/>
                                </div>
                              </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <strong class="col-lg-6">Existing Cnic:</strong>
                                <div class="col-lg-6">
                                    <input formControlName="ExistingCnic" autocomplete="off"/>
                                </div>
                              </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <strong class="col-lg-4">Phone mat-cell: (0092***********):</strong>
                                <div class="col-lg-2">
                                    <input autocomplete="off" value="00923" class="mr-2" readonly="readonly"/>
                                </div>
                                <div class="col-lg-4">
                                    <input formControlName="PhoneCell" autocomplete="off" maxlength="10" />
                                </div>
                              </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div  class="row mt-2 justify-content-center">
                                <input type="button" mat-raised-button color="primary" class=" mat-raised-button mat-button-base mat-primary mr-4 searchLCBtn"  value="Update" (click)="onUpdate()" />
                                <input type="button" mat-raised-button color="primary" class=" mat-raised-button mat-button-base mat-primary searchLCBtn"  value="Cancel" (click)="onCancel()" />
                            </div>                            
                        </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>


            
          </div>

      </form>

      <!-- <div  class="form-group kt-form__group row mt-2 justify-content-center">
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div> -->

    </div>
    
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#ecbd00"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>