<div id="Kt-portlet-margin-top">
  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">Calculate DBR</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="form-group kt-form__group row">
        <div class="col-lg-12 kt-margin-bottom-20-mobile">

          <div class="kt-portlet">
            <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
              <div class="kt-portlet__head-label">
                <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">Income</h5>
              </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form">
                  <div class="kt-portlet__body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="col-lg-9">Item Name</th>
                          <th class="col-lg-3">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataSource.DBRIncomeList">
                          <td class="col-lg-9">{{item.ItemName}}</td>
                          <td class="col-lg-3">
                            <form class="kt-form kt-form--group-seperator-dashed">
                              <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                <!--<div class="col-lg-9 kt-margin-bottom-20-mobile">-->
                                <mat-label class="customMatLabel"> {{item.ItemName}} <strong class="matMandatory">* </strong></mat-label>
                                <input type="text" matInput placeholder="Enter '+ {{item.ItemName}} + '" id="{{item.ID}}" value="{{item.Value}}" (change)="onIncomeChange($event)" autocomplete="off" />
                                <!--</div>-->
                              </mat-form-field>
                            </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>

          <div class="kt-portlet">
            <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
              <div class="kt-portlet__head-label">
                <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">Liabilities</h5>
              </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form">
                  <div class="kt-portlet__body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="col-lg-9">Item Name</th>
                          <th class="col-lg-3">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!--<form class="kt-form kt-form--group-seperator-dashed">-->
                        <tr *ngFor="let liab of dataSource.DBRLiabilitiesList">
                          <td class="col-lg-9">{{liab.ItemName}}</td>
                          <td class="col-lg-3">
                            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                              <!--<div class="col-lg-9 kt-margin-bottom-20-mobile">-->
                              <mat-label class="customMatLabel"> {{liab.ItemName}} <strong class="matMandatory">* </strong></mat-label>
                              <input type="text" matInput placeholder="Enter '+ {{liab.ItemName}} + '" id="{{liab.ID}}" value="{{liab.Value}}" (change)="onLiabChange($event)" autocomplete="off" />
                              <!--</div>-->
                            </mat-form-field>
                          </td>
                        </tr>
                        <!--</form>-->
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
      <div class="row">
        <div class="col-lg-3 mt-1p ml-1p mb-1p">
          <button type="button"  (click)="saveLoanDbr()" class="btn btn-primary" mat-raised-button color="primary">
            Save
          </button>
          <button type="button" class="btn btn-outline-brand ml-1p" mat-raised-button color="danger">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
