<!-- Personal Sureties Begin -->
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">Personal Sureties</h5>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form kt-form--group-seperator-dashed" [formGroup]="personalSuretiesForm">
      <div class="kt-form">
        <div class="form-group kt-form__group row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th>CNIC</th>
                    <th>Name</th>
                    <th>Parentge</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Account No</th>
                    <th>Source Of Income</th>
                    <th>Annual  Income</th>
                    <th>Asset Value</th>
                    <th>persent_dues</th>
                    <th>net_value</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Cnic" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="FullName" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Percentage" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Address" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Phone" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="AccountNo" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="SourceofIncome" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="AnnualIncome" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="AssetValue" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="PresentDues" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="NetValue" />
                      </mat-form-field>
                    </td>
                    <td> <span (click)="onSavePersonalSuretiesForm()">Save</span> | <span>Cancle</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group kt-form__group row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-striped" *ngIf="loanPersonalSuretiesArray.length !=0">
                      <thead>
                        <tr class="table-header-background">
                          <th>CNIC</th>
                          <th>Name</th>
                          <th>Percentage</th>
                          <th>Address</th>
                          <th>Phone</th>
                          <th>Account No</th>
                          <th>Source Of Income</th>
                          <th>Annual Income</th>
                          <th>Asset Value</th>
                          <th>persent_dues</th>
                          <th>net_value</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr *ngFor="let loan of loanPersonalSuretiesArray; let i = index;">
                          <td>{{loan.Cnic}}</td>
                          <td>{{loan.FullName}}</td>
                          <td>{{loan.Percentage}}</td>
                          <td>{{loan.Address}}</td>
                          <td>{{loan.Phone}}</td>
                          <td>{{loan.AccountNo}}</td>
                          <td>{{loan.SourceofIncome}}</td>
                          <td>{{loan.AnnualIncome}}</td>
                          <td>{{loan.AssetValue}}</td>
                          <td>{{loan.PresentDues}}</td>
                          <td>{{loan.NetValue}}</td>


                          <td> <span (click)="onEditPersonalSureties(loan.PersonalSuretyID)">Edit</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Personal Sureties End -->
<!-- Corporate sureties Begin -->
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">Corporate sureties</h5>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form kt-form--group-seperator-dashed" [formGroup]="corporateSuretiesForm">
      <div class="kt-form">
        <div class="form-group kt-form__group row">
          <div class="col-lg-12 ">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th>Company Name</th>
                    <th>Memorandum Date</th>
                    <th>reference_no</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="CompanyName" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input readonly="readonly" matInput [matDatepicker]="picker3" formControlName="MemorandumDate">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="RefrenceNo" />
                      </mat-form-field>
                    </td>
                    <td> <span (click)="onSaveCorporateSuretiesForm()">Save</span> | <span>Cancle</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group kt-form__group row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-striped" *ngIf="loanCorporateSuretyArray.length!=0">
                      <thead>
                        <tr class="table-header-background">
                          <th>Company Name</th>
                          <th>Memorandum Date</th>
                          <th>reference_no</th>
                          <th></th>

                        </tr>
                      </thead>
                      <tbody class="">
                        <tr *ngFor="let loan of loanCorporateSuretyArray; let i = index;">
                          <td>{{loan.CompanyName}}</td>
                          <td>{{loan.MemorandumDate}}</td>
                          <td>{{loan.RefrenceNo}}</td>


                          <td> <span (click)="onEditLoanCorporateSuretyArray(loan.CorporateSuretyID)">Edit</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Corporate sureties End -->
<!-- References Begin -->
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">References</h5>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form kt-form--group-seperator-dashed"   [formGroup]="loanRefrencesForm">
      <div class="kt-form">
        <div class="form-group kt-form__group row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>CNIC</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>FAX</th>
                    <th>Email</th>
                    <th>NTN</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Cnic" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Name" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Address" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Phone" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Fax" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Email" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Ntn" />
                      </mat-form-field>
                    </td>
                    <td> <span (click)="onSaveLoanRefrencesForm()">Save</span> | <span>Cancle</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group kt-form__group row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-striped" *ngIf="loanRefrenceArray.length!=0">
                      <thead>
                        <tr class="table-header-background">
                          <th>ID</th>
                          <th>CNIC</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th>Phone</th>
                          <th>FAX</th>
                          <th>Email</th>
                          <th>NTN</th>
                          <th></th>

                        </tr>
                      </thead>
                      <tbody class="">
                        <tr *ngFor="let loan of loanRefrenceArray; let i = index;">
                          <td>{{loan.Cnic}}</td>
                          <td>{{loan.Name}}</td>
                          <td>{{loan.Address}}</td>
                          <td>{{loan.Phone}}</td>
                          <td>{{loan.Fax}}</td>
                          <td>{{loan.Email}}</td>
                          <td>{{loan.Ntn}}</td>


                          <td> <span (click)="onEditRefrence(loan.ReferenceID)">Edit</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- References End -->
<!-- Witnesses Begin -->
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">Witnesses</h5>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form kt-form--group-seperator-dashed" [formGroup]="loanWitnessForm">
      <div class="kt-form">
        <div class="form-group kt-form__group row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th>CNIC</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="Cnic" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="WitnessName" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="WitnessAddress" />
                      </mat-form-field>
                    </td>
                    <td> <span (click)="onSaveLoanWitnessForm()">Save</span> | <span>Cancle</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group kt-form__group row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-striped" *ngIf="loanWitnessArray.length!=0">
                      <thead>
                        <tr class="table-header-background">
                          <th>Cnic</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th></th>

                        </tr>
                      </thead>
                      <tbody class="">
                        <tr *ngFor="let loan of loanWitnessArray; let i = index;">
                          <td>{{loan.Cnic}}</td>
                          <td>{{loan.WitnessName}}</td>
                          <td>{{loan.WitnessAddress}}</td>


                          <td> <span (click)="onEditLoanWitnessArray(loan.WitnessesID)">Edit</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Witnesses End -->
<!-- Past Paid Loans Begin -->
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">Past Paid Loans</h5>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form kt-form--group-seperator-dashed" [formGroup]="loanPastPaidForm">
      <div class="kt-form">
        <div class="form-group kt-form__group row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th>Bank Name</th>
                    <th>Due Amount</th>
                    <th>Due Date</th>
                    <th>Last Payment On</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="BankName" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="AmountToPaid" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input readonly="readonly" matInput [matDatepicker]="picker4" formControlName="DueDate">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input readonly="readonly" matInput [matDatepicker]="picker5" formControlName="LastPaidDate">
                        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td> <span (click)="onSaveLoanPastPaidForm()">Save</span> | <span>Cancle</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group kt-form__group row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-striped" *ngIf="loanPastPaidArray.length!=0">
                      <thead>
                        <tr class="table-header-background">
                          <th>Bank Name</th>
                          <th>Due Amount</th>
                          <th>Due Date</th>
                          <th>Last Payment On</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr *ngFor="let loan of loanPastPaidArray; let i = index;">
                          <td>{{loan.BankName}}</td>
                          <td>{{loan.AmountToPaid}}</td>
                          <td>{{loan.DueDate}}</td>
                          <td>{{loan.LastPaidDate}}</td>


                          <td> <span (click)="onEditLoanPastPaidArray(loan.PaidLoanID)">Edit</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Past Paid Loans End -->
<!-- Current Loans Begin -->
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">Current Loans</h5>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form kt-form--group-seperator-dashed" [formGroup]="currentLoansForm">
      <div class="kt-form">
        <div class="form-group kt-form__group row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th>Purpose</th>
                    <th>Bank Name</th>
                    <th>Total Loan</th>
                    <th>Security/Surety</th>
                    <th>Date Loan Availed</th>
                    <th>Outstanding Amount</th>
                    <th>Due Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="PurposeDetail" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="BankName" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="TotalDebit" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="FundNonfundFlag" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="DateDebitAcheive" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="AmountToPaid" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput formControlName="DueDate" />
                      </mat-form-field>
                    </td>
                    <td> <span (click)="onSaveCurrentLoansForm()">Save</span> | <span>Cancle</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group kt-form__group row">
                <div class="col-lg-12">
                  <div class="table-responsive">
                    <table class="table table-striped" *ngIf="loanCurrentList.length !=0">
                      <thead>
                        <tr class="table-header-background">
                          <th>Purpose</th>
                          <th>Bank Name</th>
                          <th>Total Loan</th>
                          <th>Security/Surety</th>
                          <th>Date Loan Availed</th>
                          <th>Outstanding Amount	</th>
                          <th>Due Date</th>
                          <th>STATUS	</th>
                          <th>Facility	</th>

                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr *ngFor="let loan of loanCurrentList; let i = index;">
                          <td>{{loan.PurposeDetail}}</td>
                          <td>{{loan.BankName}}</td>
                          <td>{{loan.TotalDebit}}</td>
                          <td>{{loan.GurenteeDetail}}</td>
                          <td>{{loan.DateDebitAcheive}}</td>
                          <td>{{loan.AmountToPaid}}</td>
                          <td>{{loan.DueDate}}</td>
                          <td>{{loan.Status}}</td>
                          <td>{{loan.FundNonfundFlag}}</td>

                          
                          <td> <span (click)="onEditLoanCurrentList(loan.CurrentLoanID)">Edit</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Current Loans End -->
<!-- Documents Attached Begin -->
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: 18px !important;">Documents Attached</h5>  
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-form kt-form--group-seperator-dashed" > <!--  CheckListForm -->
      <div class="kt-form">
        <div class="form-group kt-form__group row">
          <div class="col-lg-12 kt-margin-bottom-20-mobile">
            <button class="btn btn-primary float-right" (click)="getCheckList()">Refresh Check List</button>
          </div>
          <div class="col-lg-12 kt-margin-bottom-20-mobile">
            <div *ngFor="let doc of loanDocumentsCheckList; let i = index;" style="display:inline; margin-right:1%">
              <!--<mat-form-field class="mat-form-field-fluid" appearance="outline">

    </mat-form-field>-->
              <mat-checkbox [value]="doc.DocumentID" (change)="setUnsetDocumentCheckBox($event)">
                <!--  formControlName="selectedCheckBox" -->
                {{doc.DocName}}
              </mat-checkbox>

            </div>
          </div>
        </div>

        <div class="form-group kt-form__group row">
          <div class="col-lg-12 kt-margin-bottom-20-mobile">
            <button class="btn btn-primary mr-1p" (click)="saveCheckList()">Save</button>
            <button class="btn btn-primary mr-1p" (click)="submitLoanApplication()" >Submit</button>
            <!--<button class="btn btn-primary mr-1p">New Case</button>
            <button class="btn btn-primary mr-1p">Pending List</button>-->
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
<!-- Documents Attached End -->


<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#ecbd00"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

