<div id="Kt-portlet-margin-top">
    <div class="kt-portlet">
      <!--[ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }"-->
      <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Add/Update Village Benchmark</h3>
        </div>
      </div>
    </div>
    

    <form [formGroup]="addUpdateBenchMarkForm" class="kt-form kt-form--group-seperator-dashed">

        <div class="form-group kt-form__group row col-lg-12">

            <div class="col-lg-3 kt-margin-bottom-20-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Village Name<strong class="matMandatory">*</strong></mat-label>
                <input matInput placeholder="Enter Village Name'" formControlName="VillageName"/>
              </mat-form-field>
            </div>

            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                  <mat-label class="customMatLabel">No. of Farmer<strong class="matMandatory">*</strong></mat-label>
                  <input matInput placeholder="Enter No. of Farmer" formControlName="NoOfFormaer" autocomplete="off" appNumberOnly/>
                </mat-form-field>
            </div>

            <div class="col-lg-3 kt-margin-bottom-20-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Gender Count<strong class="matMandatory">*</strong></mat-label>
                <input matInput placeholder="Enter Gender Count" formControlName="GenderCount" autocomplete="off" appNumberOnly/>
              </mat-form-field>
          </div>

            <div class="col-lg-3 kt-margin-bottom-20-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Gender Type<strong class="matMandatory">*</strong></mat-label>
                <mat-select formControlName="GenderType">
                  <mat-option *ngFor="let gender of GenderLov" [value]="gender.LovId">
                    {{gender.Name}}
                  </mat-option>                                
                </mat-select>
              </mat-form-field>
          </div>

        </div>

        <div class="form-group kt-form__group row col-lg-12">

          <div class="col-lg-3 kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label class="customMatLabel">Farm Size<strong class="matMandatory">*</strong></mat-label>
              <input matInput placeholder="Enter Farm Size" formControlName="FarmSize" autocomplete="off" appNumberOnly/>
            </mat-form-field>
          </div>

            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                    <mat-label class="customMatLabel">Average Loan Size<strong class="matMandatory">*</strong></mat-label>
                    <input matInput placeholder="Enter Average Loan Size" formControlName="AverageLoanSize" autocomplete="off" appNumberOnly/>
                  </mat-form-field>
            </div>

            <div class="col-lg-3 kt-margin-bottom-20-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Subsistence Farmer</mat-label>
                <input matInput placeholder="Enter Tour Subsistence Farmer" formControlName="SubsistenceFarmer" autocomplete="off" appNumberOnly/>
              </mat-form-field>
          </div>

          <div class="col-lg-3 kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label class="customMatLabel">Economic Farmer</mat-label>
              <input matInput placeholder="Enter Tour Economic Farmer" formControlName="EconomicFarmer" autocomplete="off" appNumberOnly/>
            </mat-form-field>
        </div>
          
        </div>

        <div class="form-group kt-form__group row col-lg-12">

            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                  <mat-label class="customMatLabel">Big Farmers</mat-label>
                  <input matInput placeholder="Enter Big Farmers" formControlName="BigFarmars" autocomplete="off" appNumberOnly/>
                </mat-form-field>
            </div>

            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                    <mat-label class="customMatLabel">Agri Business Potential</mat-label>
                    <input matInput placeholder="Enter Agri Business Potential" formControlName="AgriBusinessPotential" autocomplete="off"/>
                  </mat-form-field>
            </div>
          
        </div>


    </form>
    
    
    <div class="form-group kt-form__group row mt-2 justify-content-center" >
      <button mat-raised-button color="primary" class="mr-4" (click)="Add()">Add</button>
      <button mat-raised-button class="org-button button-red" (click)="clear()">Clear</button>
    </div>

    <div class="col-lg-12">

        <table class="table table-striped" *ngIf="tableLength">
          <thead>
            <tr class="table-header-background text-center">
              <th>Village Name</th>
              <th>No Of Formaer</th>
              <th>Farm Size</th>
              <th>GenderCount</th>
              <th>Gender Type</th>
              <th>Average Loan Size</th>
              <th>Agri Business Potential</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let array of req_array; let i = index">
              <td>{{array.VillageName}}</td>
              <td>{{array.NoOfFormaer}}</td>
              <td>{{array.FarmSize}}</td>
              <td>{{array.GenderCount}}</td>
              <td>{{array.GenderType}}</td>
              <td>{{array.AverageLoanSize}}</td>
              <td>{{array.AgriBusinessPotential}}</td>
              <td><button  mat-icon-button color="primary" (click)="editRow()"><mat-icon  title="Edit Customer">edit</mat-icon></button></td>
              <td ><button   mat-icon-button color="primary" (click)="deleteRow()"><mat-icon  title="Edit Customer">delete</mat-icon></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="form-group kt-form__group row mt-2 justify-content-center" *ngIf="tableLength">
          <button mat-raised-button color="primary" (click)="Submit()">Submit</button>
        </div>

</div>