<!--<style>
  #Kt-portlet-margin-top {
    margin-top: 0 !important;
  }

</style>-->
<div class="kt-portlet">
  <!--<div class="kt-portlet__head kt-portlet__head__custom custom-head-st" id="list-header">
    <div class="kt-portlet__head-label">
      <div class="float-right">
        <span class="fa fa-times fa-2x text-red span-link" (click)="onCloseClick()"></span>
      </div>
    </div>
  </div>-->
  <div class="kt-portlet__body">
    <kt-customer-list [isDialog]="true"></kt-customer-list>
  </div>
  <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
    <div class="kt-form__actions kt-form__actions--solid">
      <div class="row text-center">
        <div class="col-lg-12 mt-1p mb-1p">
          <button type="button" class="button-red" mat-raised-button cdkFocusInitial value="Cancel" [mat-dialog-close]="false" (click)="onCloseClick()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



