<div id="Kt-portlet-margin-top">
  <div class="kt-portlet"
       [class]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
    <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
      </div>
      <div style="text-align:end; margin-top:10px;">
        <button (click)="addRole()" style="text-align:end;" *ngIf="_currentActivity.C" mat-raised-button color="primary"
                type="button" class="btn btn-primary">
          <span>New Role</span>
        </button>
      </div>
    </div>
    <div>

      <div class="kt-portlet__body">

        <form [formGroup]="profileForm" class="kt-form">
          <div class="kt-form">
            <div class="kt-portlet__body-progress">
              <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                      (close)="onAlertClose($event)">
              Oh snap! Change a few things up and try submitting again.
            </kt-alert>

            <div class="form-group row">
              <div class="col-lg-3 kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="outline" id="focus-removal">
                  <mat-label>Roles</mat-label>
                  <mat-select formControlName="ProfileID" placeholder="--Select--" name="ProfileID"
                              (selectionChange)="getProfile($event)">
                    <mat-option *ngFor="let profile of profiles" [value]="profile.ProfileID">
                      {{profile.ProfileName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- <div class="col-lg-4 kt-margin-bottom-20-mobile" style="margin-top:10px;">
                <button mat-raised-button color="primary" type="button" class="btn btn-secondary"
                        (click)="editRole()" *ngIf="!ShowButton">
                  Edit Role
                </button>&nbsp;

              </div> -->
            </div>
          </div>
        </form>

        <div class="form-group row">
          <div class="col-lg-12 col-md-12 kt-margin-bottom-20-mobile  mat-elevation-z8" [style.height]="gridHeight">
            <div *ngIf="!isActivityStringValid">
              <mat-error><strong>Please select any activity</strong></mat-error>
            </div>
            <div class="custom-accordion" *ngFor="let activity of userActivities;let i=index">
              <div class="custom-accordion-head" (click)="toggleAccordion(i)"
                   style="cursor: pointer">
                <div class="custom-padding">
                  <h3>
                    {{activity.ActivityName}}
                  </h3>
                </div>
                <div class="custom-padding">
                  <button mat-icon-button id="{{'arrow_down_'+i}}" style="display: block">
                    <mat-icon>expand_more</mat-icon>
                  </button>
                  <button mat-icon-button id="{{'arrow_up_'+i}}" style="display:none;">
                    <mat-icon>expand_less</mat-icon>
                  </button>
                </div>
              </div>
              <div class="custom-accordion-body" id="{{'table_'+i}}" style="display: none">
                <table class="table table-responsive" style="display: inline-table !important;">
                  <thead class="thead-light">
                  <tr>
                    <th>Activity Name</th>
                    <th>Activity URL</th>
                    <th>Create</th>
                    <th>Read</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let child of activity.ChildActvities">
                    <td>{{child.ActivityName}}</td>
                    <td>{{child.ActivityUrl}}</td>
                    <td><input type="checkbox" [checked]="child.C"
                               (change)="updateActivityDetails(activity.ActivityID,child.ActivityID,'create',child.C?true:false)">
                    </td>
                    <td><input type="checkbox" [checked]="child.R"
                               (change)="updateActivityDetails(activity.ActivityID,child.ActivityID,'read',child.R?true:false)">
                    </td>
                    <td><input type="checkbox" [checked]="child.U"
                               (change)="updateActivityDetails(activity.ActivityID,child.ActivityID,'update',child.U?true:false)">
                    </td>
                    <td><input type="checkbox" [checked]="child.D"
                               (change)="updateActivityDetails(activity.ActivityID,child.ActivityID,'delete',child.D?true:false)">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>

      </div>
      <div class="kt-form kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
        <div class="kt-form__actions kt-form__actions--solid">
          <div class="row text-right">
            <div class="col-lg-12">
              <button type="button" *ngIf="!ShowButton" mat-raised-button color="primary" class="btn btn-primary"
                      (click)="onSubmit()"
                      [class]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      [disabled]="viewLoading || submitted">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
