<div id="Kt-portlet-margin-top">
  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">Loan Application</h3>
      </div>
    </div>
    <div class="form-group kt-form__group row">
      <div class="col-lg-12 kt-margin-bottom-20-mobile">
        <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChangeClick($event)">
          <mat-tab label="Application Header">
            <kt-cl-application-header [loanAppHeaderDetails]="applicationHeaderDetail"  (applicationCall)="fillLoanApplicationObject($event)"></kt-cl-application-header>
          </mat-tab>
          <mat-tab label="Customers">
            <kt-cl-customers [loanDetail]="loanApplicationReq" (loanCustomerCall)="fillLoanApplicationObject($event)"></kt-cl-customers>
          </mat-tab>
          <mat-tab label="Purpose">
            <kt-cl-purpose [loanDetail]="loanApplicationReq"></kt-cl-purpose>
          </mat-tab>
          <mat-tab label="Securities" >
            <kt-cl-securities [loanDetail]="loanApplicationReq"></kt-cl-securities>
          </mat-tab>
          <mat-tab label="LegalHeirs">
            <kt-cl-legal-heirs [loanDetail]="loanApplicationReq"></kt-cl-legal-heirs>
          </mat-tab>
          <mat-tab label="Appraisal Of Proposed Investment">
            <kt-cl-appraisal-of-proposed-investment [loanDetail]="loanApplicationReq"></kt-cl-appraisal-of-proposed-investment>
          </mat-tab>
          <mat-tab label="Documents">
            <kt-cl-upload-document [loanDetail]="loanApplicationReq"></kt-cl-upload-document>
          </mat-tab>
          <mat-tab label="Loan Details/Witnesses">
            <kt-cl-loan-witness [loanDetail]="loanApplicationReq"></kt-cl-loan-witness>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>





