<div id="Kt-portlet-margin-top">
  <kt-portlet>
    <kt-portlet-header [title]="'View Circles'" [class]="'kt-portlet__head--lg'" id="list-header">
      <ng-container ktPortletTools>

        <button *ngIf="showViewAllBtn" type="button" class="btn btn-primary" mat-raised-button color="primary" (click)="loadAll()" style="margin-right: 20px;">View All</button>

        <mat-form-field class="mat-form-field-fluid map-fields" appearance="outline">
          <mat-label>Zone</mat-label>
          <mat-select (selectionChange)="GetBranches($event)" [(ngModel)]="zoneInitial">
            <mat-option *ngFor="let zone of Zones" [value]="zone.ZoneId">
              {{zone.ZoneName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-form-field-fluid map-fields" appearance="outline">
          <mat-label>Branch</mat-label>
          <mat-select (selectionChange)="loadCirclesSinglePoints($event)" [(ngModel)]="branchInitial">
            <mat-option *ngFor="let branch of Branches" [value]="branch.BranchCode">
              {{branch.Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </ng-container>
    </kt-portlet-header>
    <div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
      <div>
        <form class="kt-form kt-form--group-seperator-dashed">
          <div class="kt-form">
            <div class="kt-portlet__body" [style.height]="gridHeight">


              <agm-map #gm [zoom]="zoom"
                       [latitude]="lat"
                       [longitude]="lng"
                       [mapTypeControlOptions]="controlOptions"
                       [mapTypeControl]="true"
                       (mapReady)="onMapReady($event)"
                       [restriction]="countryRestriction">

                <agm-marker *ngFor="let m of fenceMarkers; let i = index"
                            (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow; clickedMarker(i, infowindow)"
                            [latitude]="m.lat"
                            [longitude]="m.lng"
                            [title]="m.BranchId">

                  <agm-info-window #infowindow>
                    <strong>{{m.BranchId}}</strong>
                  </agm-info-window>

                </agm-marker>


              </agm-map>
            </div>
          </div>
        </form>
      </div>
    </div>

  </kt-portlet>
</div>
