<style>

  .kt-form-margin {
    margin-bottom: 15px;
    margin-top: 15px;
  }

</style>

<div id="Kt-portlet-margin-top">
  <kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Search for Loan Utilization'" [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTools>
        <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
        <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
      </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
      <div class="kt-form kt-form-margin" [formGroup]="loanutilizationSearch">
        <div class="row align-items-center mb-4">
          <!-- *ngIf="!isUserAdmin && isMCO && !isBM" -->
          <div class="col-md-2 kt-margin-bottom-10-mobile" *ngIf="!isUserAdmin">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Zone</mat-label>
              <input matInput formControlName="Zone" readonly="readonly" maxlength="30" autocomplete="off">
              <!--  <mat-error *ngIf="hasError('loanutilizationName', 'required')">loanutilizationName <strong>required</strong></mat-error>-->
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile" *ngIf="isUserAdmin">
            <mat-form-field class="mat-form-field-fluid map-fields" appearance="outline" *ngIf="!BMUser">
              <mat-label>Zone</mat-label>
              <mat-select (selectionChange)="GetBranches($event)" formControlName="ZoneId">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Search Zone..." (focusout)="validateZoneOnFocusOut()" (keyup)="searchZone($event.target.value)" noEntriesFoundLabel="No Zone Found">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option>
                  Select
                </mat-option>
                <mat-option *ngFor="let zone of SelectedZones" [value]="zone.ZoneId">
                  {{zone.ZoneName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile" *ngIf="!isUserAdmin && !isZoneUser">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Branch</mat-label>
              <input matInput formControlName="Branch" readonly="readonly" maxlength="30" autocomplete="off">
              <!--  <mat-error *ngIf="hasError('loanutilizationName', 'required')">loanutilizationName <strong>required</strong></mat-error>-->
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile" *ngIf="isUserAdmin || isZoneUser">
            <mat-form-field class="mat-form-field-fluid map-fields" appearance="outline" *ngIf="!BMUser">
              <mat-label>Branch</mat-label>
              <mat-select (selectionChange)="SetBranches($event)" formControlName="BranchId">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Search Branch..." (focusout)="validateBranchOnFocusOut()" noEntriesFoundLabel="No Branch Found" (keyup)="searchBranch($event.target.value)">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option>
                  Select
                </mat-option>
                <mat-option *ngFor="let branch of SelectedBranches" [value]="branch.BranchId">
                  {{branch.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <!-- <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>loanutilization Name</mat-label>
              <input matInput formControlName="loanutilizationName" placeholder="Enter loanutilization Name" maxlength="100" autocomplete="off" appAlphabetOnly>
            </mat-form-field> -->
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label class="customMatLabel">From</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="ddMMyyyy" autocomplete="off" formControlName="FromDate" [max]="getToday()" (dateChange)="setFromDate()" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label class="customMatLabel">To</mat-label>
              <input matInput [matDatepicker]="picker1" placeholder="ddMMyyyy" formControlName="ToDate"  [min]="minDate" [max]="getTodayForTo()" (dateChange)="setToDate()" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>LoanCaseNo</mat-label>
              <input matInput formControlName="LoanCaseNo" placeholder="Enter LoanCaseNo" maxlength="100" autocomplete="off" >
            </mat-form-field>
          </div>

          <div *ngIf="loanutilizationStatusLov" class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Select loanutilization Status</mat-label>
              <mat-select formControlName="loanutilizationStatus">
                <mat-option value="">
                  Select
                </mat-option>
                <mat-option *ngFor="let obj of loanutilizationStatusLov.LOVs" [value]="obj.Value">
                  {{obj.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-3">
            <button (click)="searchloanutilization()" color="primary" type="button" class="btn btn-secondary mt-19 kt-login__btn-primary btn-block">
              <span><i class="fa fa-search"> &nbsp;</i> Search</span>
            </button>
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <div class="col-lg-10"></div>
          
        </div>
      </div>

      <!-- okay table -->
      <div class="mat-table__wrapper mat-elevation-z8">
        <!--[style.height]="gridHeight"-->
        <mat-table class="lmat-elevation-z8"
                   #table
                   [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems}"
                   matSort
                   #sort1="matSort"
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>
         
                   <ng-container matColumnDef="BranchName">
                    <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Branch Name</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.BranchName}}</mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="BranchCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>BranchCode</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.BranchCode}}</mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="LoanCaseNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>LoanCaseNo</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.LoanCaseNo}}</mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="OutStandingPrinciple">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>OutStandingPrinciple</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.OutStandingPrinciple}}</mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="DisbursedAmount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DisbursedAmount</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.DisbursedAmount}}</mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="ToDateMarkup">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ToDateMarkup</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.ToDateMarkup}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="prodDevFlag">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>prodDevFlag</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.prodDevFlag}}</mat-cell>
                  </ng-container>

               

                  <ng-container matColumnDef="Balance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Balance</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.Balance}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="DisbDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DisbDate</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.DisbDate}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="StatusName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>StatusName</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{loanutilization.StatusName}}</mat-cell>
                  </ng-container>

        
                  
                
                  <!-- <ng-container matColumnDef="loanutilizationStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">{{getStatus(loanutilization.loanutilizationStatus)}}</mat-cell>
                  </ng-container> -->
        
                  <!-- <ng-container matColumnDef="View" *ngIf="!isDialog">
                    <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
                    <mat-cell *matCellDef="let loanutilization">
                      <button *ngIf="!isDialog" mat-icon-button color="primary"
                              >
                        <mat-icon style="margin-left: 2px;" title="View loanutilization">visibility</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
                  *ngIf="CheckViewStatus(jv)" -->
  
          <ng-container matColumnDef="add">
            <mat-header-cell *matHeaderCellDef>Add New</mat-header-cell>
            <mat-cell *matCellDef="let loanutilization">            
              <button mat-icon-button color="primary" 
              (click)="addloanutilization(loanutilization)">
                <mat-icon style="margin-left: 1px;" title="View loanutilization">add</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          
          <!-- *ngIf="CheckEditStatus(jv)" -->
          <!-- <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
            <mat-cell *matCellDef="let loanutilization">
              <button mat-icon-button color="primary" 
              (click)="editloanutilization(loanutilization)">
                <mat-icon style="margin-left: 2px;" title="Edit loanutilization">edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container> -->
  
          <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>
  
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  
        </mat-table>
        <div *ngIf="matTableLenght" class="mat-select" style="padding:5px;">
          <!-- This mat select is customized, not a part of Ngx Paginator, used for selected items per page -->
          Items per page:
          <mat-select display="inline" [(value)]="itemsPerPage" (valueChange)="paginate(1,$event)" style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="25">25</mat-option>
            <mat-option [value]="50">50</mat-option>
          </mat-select>
          <button (click)="paginate(1)">First</button>
          <pagination-controls display="inline" (pageChange)="paginate($event)" style="display: inline-block;"></pagination-controls>
          <button (click)="paginate(Math.ceil(totalItems/itemsPerPage))">Last</button>
          <p style="float:right;">Total <b>{{totalItems}}</b> items</p>
  
        </div>
  
        <div class="mat-table__message" *ngIf="!loading && !matTableLenght">No records found</div>
        <div class="mat-table__message" *ngIf="loading">Please wait....</div>
      </div>
    </kt-portlet-body>
    <!-- end::Body -->
  </kt-portlet>

</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#ecbd00"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>  