<div id="Kt-portlet-margin-top">
  <kt-portlet>
    <kt-portlet-header [title]="'Document-Types List'" [class]="'kt-portlet__head--lg'" id="list-header">
      <ng-container ktPortletTools>
        <button (click)="addDocumentType()" mat-raised-button color="primary" type="button" class="btn btn-primary">
          <span>New Type</span>
        </button>
      </ng-container>
    </kt-portlet-header>


    <kt-portlet-body>
      <div class="kt-form">
        <div class="kt-form">
          <div class="row align-items-center mb-4">
            <div class="col-md-3 kt-margin-bottom-10-mobile">
              <mat-form-field appearance="outline">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" maxlength="30" autocomplete="off">
                <mat-hint align="start"><strong>Search</strong> in all fields</mat-hint>
              </mat-form-field>
            </div>
            <!--<div class="col-lg-6 col-md-6">
              <button style="float:right" [disabled]="dataSource.data.length<=0" (click)="exportToExcel()" color="primary" type="button" class="btn btn-success kt-login__btn-primary excelExportButton">
                <span><i class="fa fa-file"> &nbsp;</i> Export</span>
              </button>
            </div>-->
          </div>
        </div>
      </div>
      <div class="mat-table__wrapper mat-elevation-z8" [style.height]="gridHeight">
        <mat-table class="lmat-elevation-z8"
                   #table
                   [dataSource]="dataSource"
                   matSort
                   #sort1="matSort"
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>

          <!--<ng-container matColumnDef="Id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let document">{{document.Id}}</mat-cell>
          </ng-container>-->

          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let document">{{document.Name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="NoOfPages">
            <mat-header-cell *matHeaderCellDef mat-sort-header>No Of Pages</mat-header-cell>
            <mat-cell *matCellDef="let document"> {{document.NoOfPages}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let document">
              <button mat-icon-button color="primary"
                      (click)="editDocuemtnType(document)">
                <mat-icon title="Edit">
                  create
                </mat-icon>
              </button>&nbsp;
              <button mat-icon-button color="warn"
                      type="button"
                      (click)="DeleteDocumentType(document)">
                <mat-icon title="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div class="mat-table__message" *ngIf="!loading && dataSource.data.length==0">No records found</div>
        <div class="mat-table__message" *ngIf="loading">Please wait....</div>
      </div>

      <div class="mat-table__bottom">
        <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
        <mat-paginator [length]="30" [pageSize]="30" [pageSizeOptions]="[30, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </kt-portlet-body>
  </kt-portlet>

</div>
