<div id="Kt-portlet-margin-top">
    <div class="kt-portlet">
      <!--[class]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }"-->
      <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Set Targets</h3>
        </div>
      </div>

      <form [formGroup]="customerForm" class="kt-form kt-form--group-seperator-dashed">
        <!-- <div class="form-group kt-form__group row">
        
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
    
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                    <mat-label class="customMatLabel">Zone<strong class="matMandatory">*</strong></mat-label>
                    <input matInput placeholder="Enter Tran Date" formControlName="Zone"  maxlength="13" autocomplete="off" readonly="readonly"/>
                  </mat-form-field>
            </div>
    
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                    <mat-label class="customMatLabel">Branch<strong class="matMandatory">*</strong></mat-label>
                    <input matInput placeholder="Enter Tran Date" formControlName="Branch"  maxlength="13" autocomplete="off" readonly="readonly"/>
                  </mat-form-field>
            </div>
        </div>
    
        <div class="form-group kt-form__group row"> 
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                  <mat-label class="customMatLabel">CNIC#</mat-label>
                  <input matInput placeholder="Enter Cnic" formControlName="Cnic"  maxlength="13" autocomplete="off" />
                </mat-form-field>
            </div>
        </div> -->

        <!-- <div class="form-group kt-form__group row">  -->
          <div  class="form-group kt-form__group row">
          <div *ngIf="TargetDuration" class="col-lg-3 kt-margin-bottom-20-mobile">
        <mat-form-field class="mat-form-field-fluid" appearance="outline">
          <mat-label>Select Duration</mat-label>
          <mat-select #sel (selectionChange)="OnChange(sel.value)" formControlName="Duration">
            <mat-option>
              Select
            </mat-option>
            <mat-option *ngFor="let obj of TargetDuration" [value]="obj.Id">
              {{obj.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>

        <div class="col-lg-1 kt-margin-bottom-20-mobile pt-2">
          <button mat-raised-button color="primary" [disabled]="isfind" (click)="find()">Find</button>
      </div>
            

      </div>
        

        <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
            <div class="kt-portlet__head-label">
              <h6 class="kt-portlet__head-title">Targets</h6>
            </div>
        </div>
  
        <div *ngIf="ishidden"  class="col-lg-12 mt-2">
          
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr hidden class="table-header-background">
              <th *ngFor="let k of rowKeys">{{ k }}</th>
            </tr>
            <tr  class="table-header-background">
              <th *ngFor="let v of rowth">{{ v }}</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let row of targets; let rowIndex = index; trackBy: tracker">
              <ng-container *ngFor="let key of rowKeys; trackBy: tracker">
                <td *ngIf="key!='Id'">
               <div *ngIf="key=='Name'"> 
                  <mat-form-field class="mat-form-field-fluid" appearance="outline">
                  <input matInput readonly disabled
                    type="text"
                    [attr.value]="row[key]"
                    (input)="onInputChanged($event.target.value, rowIndex, key)"
                  />
                  </mat-form-field>
                </div>
                <div *ngIf="key!='Name'"> 
                  <mat-form-field class="mat-form-field-fluid" appearance="outline">
                  <input matInput (keypress)="numberOnly($event)"
                    [attr.value]="row[key]"
                    (input)="onInputChanged($event.target.value, rowIndex, key)"
                    />
                  </mat-form-field>
                </div>
                </td>
              </ng-container>
            </tr>
          </tbody>
          <thead>
            <tr  class="table-header-background">
            <th></th>
            <th *ngFor="let len of totalLength">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="totals">
              <ng-container>
              <td></td>
              <td *ngFor="let a of totals" class="p-4">
                {{a}}
              </td>
              
            </ng-container>
            </tr>
          </tbody>
        </table>
        <!-- <button class="ml-2" mat-raised-button color="primary" (click)="reset()">Reset</button> -->
        <div class="float-right mr-4"> 
          <button class="ml-2" mat-raised-button color="primary" (click)="save()">Save</button>
        <button class="ml-2" mat-raised-button color="primary" (click)="submit()">Submit</button>
        </div>
        
      </div>
</div>

      </form>

    </div>
    
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#ecbd00"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
