<div id="Kt-portlet-margin-top">
    <div class="kt-portlet">
      <!--[ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }"-->
      <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Get Borrowers Information</h3>
        </div>
      </div>
      <form [formGroup]="borrowerForm" class="kt-form kt-form--group-seperator-dashed">
        <div class="kt-form">
          
            <div class="kt-portlet__body">
            <!-- <div class="kt-portlet__body-progress">
              <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
              Please enter valid Input
            </kt-alert> -->

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group kt-form__group row">

                  <div class="col-lg-2 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                              <mat-label class="customMatLabel">Zone</mat-label>
                              <mat-select [(ngModel)]="selected_z" formControlName="Zone" disabled="true">
                                <mat-option [value]="SelectedZones.ZoneId">
                                  {{SelectedZones.ZoneName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                    </div>

                    <div class="col-lg-2 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                          <mat-label class="customMatLabel">Branch <strong class="matMandatory">*</strong></mat-label>
                          <mat-select [(ngModel)]="selected_b" formControlName="Branch" disabled="true">
                            <mat-option [value]="SelectedBranches.BranchId">
                              {{SelectedBranches.Name}}
                            </mat-option>                                
                          </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                          <mat-label class="customMatLabel">Circle</mat-label>
                          <mat-select formControlName="Circle">
                            <mat-option *ngFor="let circle of SelectedCircles" [value]="circle.Id">
                              {{circle.CircleCode}}
                            </mat-option>                                
                          </mat-select>
                        </mat-form-field>
                    </div>

                  <div class="col-lg-2 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                      <mat-label class="customMatLabel">Cnic</mat-label>
                      <input matInput placeholder="Cnic" formControlName="Cnic" maxlength="30" autocomplete="off" appNumberOnly />
                    </mat-form-field>
                  </div>
                  
                  <div class="col-lg-2" style="margin-top:5px;">
                    <button class="btn btn-secondary mt-19 kt-login__btn-primary btn-block" color="primary" type="button" (click)="getBorrower()"><span><i class="fa fa-search"> &nbsp;</i> Find</span></button>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </form>

      <div class="mat-table__wrapper mat-elevation-z8">
        <!--[style.height]="gridHeight"-->
        <mat-table class="lmat-elevation-z8"
                   #table
                   [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems}"
                   matSort
                   #sort1="matSort"
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>

          <ng-container matColumnDef="CustomerName">
            <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
            <mat-cell *matCellDef="let borrower">{{borrower.CustomerName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="FatherName">
            <mat-header-cell *matHeaderCellDef>FatherName</mat-header-cell>
            <mat-cell *matCellDef="let borrower">{{borrower.FatherName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Cnic">
            <mat-header-cell *matHeaderCellDef>Cnic</mat-header-cell>
            <mat-cell *matCellDef="let borrower">{{borrower.Cnic}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="LoanCaseNo">
            <mat-header-cell *matHeaderCellDef>LC #</mat-header-cell>
            <mat-cell *matCellDef="let borrower">{{borrower.LoanCaseNo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="PermanentAddress">
            <mat-header-cell *matHeaderCellDef>Permanent Address</mat-header-cell>
            <mat-cell *matCellDef="let borrower">{{borrower.PermanentAddress}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="TotalSanctionedAmount">
            <mat-header-cell *matHeaderCellDef>Total Sanctioned Amount</mat-header-cell>
            <mat-cell *matCellDef="let borrower">{{borrower.TotalSanctionedAmount}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="SanctionLimit">
            <mat-header-cell *matHeaderCellDef>Sanction Limit</mat-header-cell>
            <mat-cell *matCellDef="let borrower">{{borrower.SanctionLimit}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Link">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let borrower">
                <span id="llcInquiryText" (click)="viewInquiry(borrower)"><b>View LC Inquiry</b></span>
                <!-- <a (click)="viewInquiry(borrower)">View LC Inquiry</a>             -->
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>
  
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  
        </mat-table>

        <div *ngIf="matTableLenght" class="mat-select" style="padding:5px;">
            Items per page:
            <mat-select display="inline" [(value)]="itemsPerPage" (valueChange)="paginate(1,$event)" style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
              <mat-option [value]="5">5</mat-option>
              <mat-option [value]="10">10</mat-option>
              <mat-option [value]="25">25</mat-option>
              <mat-option [value]="50">50</mat-option>
              <mat-option [value]="1000">1000</mat-option>
            </mat-select>
            <button (click)="paginate(1)">First</button>
            <pagination-controls display="inline" (pageChange)="paginate($event)" style="display: inline-block;"></pagination-controls>
            <button (click)="paginate(Math.ceil(totalItems/itemsPerPage))">Last</button>
            <p style="float:right;">Total <b>{{totalItems}}</b> items</p>
    
          </div>

        
  
        <!-- <div class="mat-table__message" *ngIf="!loading && !matTableLenght">No records found</div>
        <div class="mat-table__message" *ngIf="loading">Please wait....</div> -->

      </div>
  
      <div class="form-group kt-form__group row">
        <!--*ngIf="dataFetched && RecoveryLoanTransaction.length==0 && !submitted"-->
        <!-- <div class="col-lg-12 kt-margin-bottom-20-mobile mat-table">
  
          <h4>No Record found.</h4>
        </div> -->
      </div>
    </div>
    
    </div>
    
    
    <ngx-spinner bdColor="rgba(51,51,51,0.8)"
                 size="medium"
                 color="#ecbd00"
                 type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  

    <!-- <mat-table class="lmat-elevation-z8"
                   #table
                   [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems}"
                   matSort
                   #sort1="matSort"
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>
          <ng-container matColumnDef="Branch"> -->