<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
    <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">History Configuration</h3>
      </div>
    </div>
    <div>        

        <div class="col-lg-12 mt-4">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th>Name</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let history of updateHistory; let i = index">
                    <td>{{history.Name}}</td>
                    <td>{{history.OldValue}}</td>
                    <td>{{history.NewValue}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

    </div>
  </div>
  
  
  
  
  
  
  
  <!--<form [formGroup]="service.form" id="registerForm" autocomplete="off" (ngSubmit)="saveAppConfig(service.form.value)"
        novalidate>
  
    <h2 mat-dialog-title>
      {{service.addEditTitle}}
    </h2>
  
    <mat-dialog-content class="mat-typography">
      <div class="row justify-content-center mt-3">
        <div class="col-12">
          <input type="hidden" name="$key" formControlName="$key">
          <mat-form-field class="example-full-width">
            <mat-label>Key Name</mat-label>
            <input matInput [pattern]="keyNamePattern" placeholder="Key Name" formControlName="keyname" maxlength="50">
            <mat-error *ngIf="hasError('keyname', 'required')">Key Name is required</mat-error>
            <mat-error *ngIf="hasError('keyname', 'pattern')">
              Only characters, underscore and spaces.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select (selectionChange)="onChange($event)" formControlName="type">
              <mat-option *ngFor="let lov of lovList" [value]="lov.datA_VALUE">
                {{ lov.displaY_VALUE }}
              </mat-option>
            </mat-select>
            <mat-error>Type is required</mat-error>
          </mat-form-field>
  
          <mat-form-field *ngIf="!isClob && !isBool" class="example-full-width">
            <mat-label>Key Value</mat-label>
            <input matInput [pattern]="keyValuePattern" maxlength="100000" placeholder="Key Value"
                   formControlName="keyvalue">
            <mat-error *ngIf="hasError('keyvalue', 'required')">Key Value is required</mat-error>
            <mat-error *ngIf="hasError('keyvalue', 'pattern')">
              {{ keyValuePatternErrorMessage }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field *ngIf="isClob" class="example-full-width">
            <mat-label>Key Value CLOB</mat-label>
            <textarea matInput placeholder="Key Value" rows="10" formControlName="keyvalue"></textarea>
          </mat-form-field>
  
        </div>
  
      </div>
  
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="mt-1">
      <a mat-raised-button color="warn" (click)="onClose()" matTooltip="Cancel">
        <mat-icon>cancel</mat-icon> Cancel
      </a>
      <button [disabled]="!service.form.valid" mat-raised-button color="primary"
              matTooltip="{{ this.service.buttonText }}">
        <mat-icon>save</mat-icon> {{ this.service.buttonText }}
      </button>
    </mat-dialog-actions>
  
  </form>-->
  
  
  
  