<div class="kt-portlet">
  <div class="kt-form">
    <div class="kt-portlet__body">

      <div class="form-group">

        <div class="col-lg-12 text-center mt-1">
          <img src="./assets/media/icons/checked-01.png" class="img-responsive center-block" alt="icon" />
        </div>

        <div class="col-lg-12 text-center mt-5" *ngIf="data.code">
          <span style="font-size: 24px !important; font-weight: 600 !important; color: #0f298f !important; text-align:center">Error Code: {{data.code}}</span>
        </div>
        <div class="col-lg-12 text-center  mt-5">
          <span style="font-weight:500">{{data.description}}</span>
        </div>
      </div>
    </div>
    <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit text-center">
      <div class="kt-form__actions kt-form__actions--sm">
        <!--<button mat-button (click)="onNoClick()">Cancel</button>&nbsp;-->
        <button mat-button (click)="onNoClick()" class="btn btn-success btn-block" color="primary" cdkFocusInitial [disabled]="viewLoading">OK</button>
      </div>
    </div>
  </div>
</div>

