<div id="Kt-portlet-margin-top">
    <div class="kt-portlet">
      <!--[class]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }"-->
      <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Deceased Customers</h3>
        </div>
      </div>

      <form [formGroup]="customerForm" class="kt-form kt-form--group-seperator-dashed">
        <div class="form-group kt-form__group row">

          <kt-alert *ngIf="hasFormErrors" class="col-lg-12" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
            Please enter valid Input
          </kt-alert>
        
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
    
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                    <mat-label class="customMatLabel">Zone<strong class="matMandatory">*</strong></mat-label>
                    <input matInput placeholder="Enter Tran Date" formControlName="Zone"  maxlength="13" autocomplete="off" readonly="readonly"/>
                  </mat-form-field>
            </div>
    
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                    <mat-label class="customMatLabel">Branch<strong class="matMandatory">*</strong></mat-label>
                    <input matInput placeholder="Enter Tran Date" formControlName="Branch"  maxlength="13" autocomplete="off" readonly="readonly"/>
                  </mat-form-field>
            </div>
        </div>
    
        <div class="form-group kt-form__group row"> 
            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                  <mat-label class="customMatLabel">CNIC#</mat-label>
                  <input appNumberOnly matInput (keyup)="changed($event)" placeholder="Enter Cnic" formControlName="Cnic"  maxlength="13" autocomplete="off" [readonly]="viewOnly"/>
                  
                </mat-form-field>
            </div>
        </div>
    
        <div class="form-group kt-form__group row"> 
            <div class="col-lg-2 kt-margin-bottom-20-mobile">
              <input type="button" mat-raised-button color="primary" class=" mat-raised-button mat-button-base mat-primary searchLCBtn"  value="Find" (click)="find()" [disabled]="viewOnly"/>
                <!-- <button mat-raised-button color="primary" (click)="find()">Find</button> -->
            </div>
        </div>
<!-- data table -->
<div *ngIf="isEmpty">
        <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
            <div class="kt-portlet__head-label">
              <h6 class="kt-portlet__head-title">Customer Information</h6>
            </div>
        </div>
    
        <div class="form-group kt-form__group row" style="padding-left: 19px;"> 
            <div class="col-lg-6 kt-margin-bottom-20-mobile mt-2" *ngIf="!viewOnly">
                  <span class="customMatLabel">Attach Scaned Death Certificate:</span>
                  <input formControlName="file" type="file" accept="image/jpg, image/jpeg" (change)="onFileChange($event)"/>
                  <input type="button" mat-raised-button color="primary" class=" mat-raised-button ml-2 mat-button-base mat-primary searchLCBtn" *ngIf="!visible" value="Preview" (click)="previewImg()"/>
              <!-- <button class="ml-2" mat-raised-button color="primary" *ngIf="!visible" (click)="previewImg()">Preview</button> -->
              </div>
        </div>
    
        <div >
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th>CNIC#</th>
                    <th>Customer Name</th>
                    <th>Father/Husband</th>
                    <th>Date Of Death</th>
                    <th>NADRA#</th>
                    <th>Certificate Verified?</th>
                    <th style="width: 170px">Legal Heir of Borrower Has Any Source of Income to Pay (Yes/No)? </th>
                    <th>Detail Source Of Income</th>
                    <th>Remarks</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let cus of DeceasedCustomerInf"> -->
                    <tr>
                      <td>
                        <input class="mt-4" style="width: 170px" matInput formControlName="Cn" placeholder="" maxlength="13" autocomplete="off" readonly/>
                      </td>
                      <td>
                        <input class="mt-4" style="width: 170px" matInput formControlName="CustomerName" placeholder="" maxlength="30" autocomplete="off" readonly />
                      </td>
                      <td>
                        <input class="mt-4" style="width: 170px" matInput formControlName="FatherName" placeholder="" maxlength="30" autocomplete="off" readonly />
                      </td>
                      <td>
                        <!-- <input type="date" matInput formControlName="DateofDeath"  placeholder="ddMMyyyy" maxlength="13" autocomplete="off"/> -->

                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                          <mat-label class="customMatLabel">Date of Death <strong class="matMandatory">*</strong></mat-label>
                          <input matInput [matDatepicker]="picker" placeholder="ddMMyyyy" formControlName="DateofDeath" autocomplete="off" [max]="getToday()" [disabled]="viewOnly" [readonly]="viewOnly">
          
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="hasError('DateofDeath', 'required')">Date of Death <strong>required</strong></mat-error>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                          <mat-label class="customMatLabel">Nadra No <strong class="matMandatory">*</strong></mat-label>
                        <input matInput formControlName="NadraNo" placeholder="" maxlength="13" autocomplete="off" [readonly]="viewOnly"/>
                        <mat-error *ngIf="hasError('NadraNo', 'required')">Nadra Number <strong>required</strong></mat-error>
                      </mat-form-field>
                      </td>
                      <td style="padding-top: 28px;">
                        <!-- certificate verified -->
                        <mat-checkbox  formControlName="IsNadraCertificateVerified" [checked]="myModel" (click)="onChang(myModel)" [disabled]="viewOnly"></mat-checkbox>
                      </td>
                      <td>
                        <!-- <mat-form-field class="mt-4"> -->
                          <mat-form-field class="mat-form-field-fluid" appearance="outline">
                            <mat-label class="customMatLabel">Legal Heir<strong class="matMandatory">*</strong></mat-label>
                            <mat-select  #sel (selectionChange)="OnChangeDisable(sel.value)" formControlName="LegalHeirPay"
                            placeholder="--Select--" [disabled]="viewOnly">
                            <mat-option>--Select--</mat-option>
                            <mat-option *ngFor="let slct of select" [value]="slct.value">
                              {{slct.viewValue}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="hasError('LegalHeirPay', 'required')">Please Select</mat-error>
                        </mat-form-field>
                          
                      </td>
                      <td>
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <input matInput  [disabled]='visible' formControlName="DetailSourceIncome" placeholder="" maxlength="200" autocomplete="off" />
                      </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="mat-form-field-fluid" appearance="outline">
                          <mat-label class="customMatLabel">Maker Remarks <strong class="matMandatory">*</strong></mat-label>
                          <input matInput formControlName="MakerRemarks" placeholder="" maxlength="13" autocomplete="off" [readonly]="viewOnly"/>
                          <mat-error *ngIf="hasError('MakerRemarks', 'required')">Maker Remarks <strong>required</strong></mat-error>
                      </mat-form-field>
                      </td>
                      <td style="padding-top: 28px;">
                        <input type="button" mat-raised-button color="primary" class=" mat-raised-button mat-button-base mat-primary searchLCBtn"  value="Mark as Deceased" (click)="MarkAsDeceasedCustomer()" [disabled]="viewOnly"/> 
                          <!-- <a class=".text-danger" (click)="MarkAsDeceasedCustomer()">Mark as Deceased</a> -->
                      </td>
                  </tr>
                </tbody>
                <input hidden matInput formControlName="DeceasedID" placeholder="" maxlength="13" autocomplete="off" />
              </table>
            </div>
        </div>

        <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
            <div class="kt-portlet__head-label">
              <h6 class="kt-portlet__head-title">Disbursements/Recoveries</h6>
            </div>
        </div>        
        
        <div class="mat-table__wrapper mat-elevation-z8">
            <!--[style.height]="gridHeight"-->
            <mat-table class="lmat-elevation-z8"
                       #table
                       [dataSource]="dataSource"
                       matSort
                       #sort1="matSort"
                       matSortActive="id"
                       matSortDirection="asc"
                       matSortDisableClear>
              <ng-container matColumnDef="lcno">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Case #</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.LoanCaseNo}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="gl">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gl</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.GlDescription}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="scm">
                <mat-header-cell *matHeaderCellDef mat-sort-header>SCM</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.SchemeCode}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="crp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>CRP</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.CropCode}}</mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="rate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rate</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.IntRate}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="disb_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Disb Date</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.DisbDate}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="disb_amt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Disb(AMT)</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.DisbursedAmount}}</mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="principal">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Principal(REC)</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.RecoverdPrincipal}}</mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="tot_markup">
                <mat-header-cell *matHeaderCellDef mat-sort-header>TOT Markup</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.ToDateMarkup}}</mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="markup_rec">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Markup(REC)</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.RecoveredMarkup}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="other_charges">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Other Charges</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.OtherReceiveable}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="legal_charges">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Legal Charges</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.LegalChargesReceiveable}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="balance">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Balance</mat-header-cell>
                <mat-cell *matCellDef="let DeceasedCustomer">{{DeceasedCustomer.Balance}}</mat-cell>
              </ng-container>
      
      
              <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>
      
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      
            </mat-table>
          </div>

          <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
            <div class="kt-portlet__head-label">
              <h6 class="kt-portlet__head-title">Attached File</h6>
            </div>
        </div>
        
        <div  class="form-group kt-form__group row" > 
            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                <mat-form-field *ngIf="visible" class="mat-form-field-fluid" appearance="outline">
                  <mat-label class="customMatLabel"> <em>No Response is made so far.</em> </mat-label>
                  <input matInput placeholder="No Response is made so far." maxlength="13" autocomplete="off" readonly="readonly"/>
                </mat-form-field>
                <!-- <app-image-viewer [imageURL]="imageUrl" [open]="viewerOpen" (close)="viewerOpen = false"></app-image-viewer> -->
                <!-- <img width="100%" *ngIf="imageUrl" (click)="viewerOpen = true" [src]="imageUrl" class="image-container pl-4"> -->
            </div>
        </div>

        <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th>CNIC#</th>
                    <th>File Name</th>
                    <th>File Size (KB)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let img of DeceasedCustomerAttachedFile">
                      <td>{{img.Cnic}}</td>
                      <td>{{img.Name}}</td>
                      <td>{{img.ImageLength}}</td>
                      
                      
                      <td style="cursor: pointer; color: #ecbd00;"> <span (click)="viewDocument(img.ID, $event)">View</span></td>

                  </tr>
                </tbody>
              </table>
            </div>
        </div>

      </div>

      </form>

    </div>
    
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#ecbd00"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
