
<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">Land History</h3>
    </div>
  </div>
  <div class="mat-table__wrapper mat-elevation-z8" [style.height]="gridHeight">
  <mat-table class="lmat-elevation-z8"
     #table
     [dataSource]="dataSource"
     matSort
     #sort1="matSort"
     matSortActive="id"
     matSortDirection="asc"
     matSortDisableClear>
  <ng-container matColumnDef="LandInfoID">
    <mat-header-cell *matHeaderCellDef mat-sort-header>LandInfo ID</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.LandInfoID}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CompleteAddress">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Complete Address</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.CompleteAddress}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BranchCode">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Branch Code</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.BranchCode}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PassbookNO">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Passbook NO</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.PassbookNO}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Cnic">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Cnic</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.Cnic}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BranchId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>BranchId</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.BranchId}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CustomerName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.CustomerName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="FatherName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Father Name</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.FatherName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ZoneID">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Zone ID</mat-header-cell>
    <mat-cell *matCellDef="let land">{{land.ZoneID}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="IsRedeem">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Redeem</mat-header-cell>
      <mat-cell *matCellDef="let land">{{land.IsRedeem}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="StatusDesc">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let land">{{land.StatusDesc}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="View">
      <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
      <mat-cell *matCellDef="let land">
        <button mat-icon-button color="primary"
                (click)="editland(land)">
          <mat-icon style="margin-left: 2px;" title="View land">visibility</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <div class="mat-table__message" *ngIf="!loading && dataSource.data.length==0">No records found</div>
  <div class="mat-table__message" *ngIf="loading">Please wait....</div>
  </div>


  <div class="mat-table__bottom">
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
    <!--<mat-paginator [length]="15" [pageSize]="15" [pageSizeOptions]="[15,30, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>-->
    <!--<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>-->
  </div>
  <!--<form class="kt-form kt-form--group-seperator-dashed">
    <div class="kt-form">
      <div class="kt-portlet__body">
        <div class="form-group kt-form__group row">
          <div class="col-lg-4 kt-margin-bottom-20-mobile">
            <span><b>Date Issue :</b> {{LandHistory.DateIssue}}</span>
          </div>
          <div class="col-lg-4 kt-margin-bottom-20-mobile">
            <span> <b>Place Of Issue PB :</b>{{LandHistory.PlaceofIssuePB}}</span>
          </div>
          <div class="col-lg-4 kt-margin-bottom-20-mobile">
            <span> <b>Branch Id :</b>{{LandHistory.BranchId}}</span>
          </div>
        </div>
        <div class="form-group kt-form__group row">
          <div class="col-lg-4 kt-margin-bottom-20-mobile">
            <span> <b>Post Code :</b>{{LandHistory.PostCode}}</span>
          </div>
          <div class="col-lg-4 kt-margin-bottom-20-mobile">
            <span> <b>Id :</b>{{LandHistory.Id}}</span>
          </div>
          <div class="col-lg-4 kt-margin-bottom-20-mobile">
            <span> <b>Entered Date :</b>{{LandHistory.EnteredDate}}</span>
          </div>
        </div>
        <div class="form-group kt-form__group row">
          <div class="col-lg-4 kt-margin-bottom-20-mobile">
            <span> <b>Passbook No:</b>{{LandHistory.PassbookNO}}</span>
          </div>
          <div class="col-lg-4 kt-margin-bottom-20-mobile">
            <span><b>Complete Address :</b> {{LandHistory.CompleteAddress}}</span>
          </div>
        </div>
      </div>
      <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
        <div class="kt-form__actions kt-form__actions--solid">
          <div class="row text-center">
            <div class="col-lg-12">
              <button type="button" class="button-red" mat-raised-button cdkFocusInitial value="Cancel" [mat-dialog-close]="false">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>-->
</div>




