<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
    <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">Refresh Lov's</h3>
      </div>
    </div>
    <div>        

        <div class="col-lg-12 mt-4">
            <button class="btn btn-secondary mt-19 kt-login__btn-primary btn-block" color="primary" type="button" (click)="refreshLov()"><span><i class="fa fa-search"> &nbsp;</i> Refresh</span></button>                  
        </div>

    </div>
  </div>
  