<form [formGroup]="purposeForm" class="kt-form kt-form--group-seperator-dashed">
  <div class="kt-form">
    <div class="kt-portlet__body">

      <div class="form-group kt-form__group row">
        <div class="col-lg-2 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">GL Code <strong class="matMandatory">*</strong></mat-label>
            <input matInput placeholder="Enter GL Code" formControlName="GlSubID" appNumberOnly />
            <mat-error *ngIf="hasError('GlSubID', 'required')">GL Code <strong>required</strong></mat-error>
          </mat-form-field>
        </div>


        <div class="col-lg-1 kt-margin-bottom-20-mobile">
          <button type="button" (click)="GlschemeCropConfiguration()" class="btn btn-primary mt-10p" mat-raised-button color="primary">
            Get GL Code #
          </button>
        </div>

        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Scheme Code <strong class="matMandatory"></strong></mat-label>
            <input matInput placeholder="Scheme Code" formControlName="SchemeID" appNumberOnly />
            <!--<mat-error *ngIf="hasError('DevAmount', 'required')">GL Code <strong>required</strong></mat-error>-->
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Markup Calc Mode <strong class="matMandatory">*</strong></mat-label>
            <mat-select formControlName="MarkupCalcMode" [disabled]="MarkupCalcReadOnly">
              <mat-option *ngFor="let markup of MarkupCalcMode" [value]="markup.Id">
                {{markup.Name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('MarkupCalcMode', 'required')">Markup Calc Mode <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Crop Code<strong class="matMandatory"></strong></mat-label>
            <input matInput placeholder="Enter Crop Code" formControlName="CropID" appNumberOnly />
          </mat-form-field>
        </div>
      </div>

      <div class="form-group kt-form__group row">
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Cultivated Area(Marla) <strong class="matMandatory"></strong></mat-label>
            <input matInput placeholder="Enter Production Loan Amount" formControlName="CultivatedArea" appNumberOnly />
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Make/Capacity <strong class="matMandatory"></strong></mat-label>
            <mat-select formControlName="RequiredItem">
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Search Capacity..." (focusout)="validateCapacityOnFocusOut()" noEntriesFoundLabel="No Capacity Found" (keyup)="searchCapacity($event.target.value)">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let Capacity of MakeCapacitySelected" [value]="Capacity.Id">
                {{Capacity.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Quantity <strong class="matMandatory"></strong></mat-label>
            <input matInput placeholder="Enter Production Loan Amount" formControlName="Quantity" appNumberOnly />
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Facility <strong class="matMandatory"></strong></mat-label>
            <mat-select formControlName="FundNonFund">
              <mat-option *ngFor="let facility of Facility" [value]="facility.Id">
                {{facility.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group kt-form__group row">
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Market Price <strong class="matMandatory">*</strong></mat-label>
            <input matInput placeholder="Enter Market Price" formControlName="TotalEstimatedCost" appNumberOnly />
            <mat-error *ngIf="hasError('TotalEstimatedCost', 'required')">Market Price <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Equity (Rs.) <strong class="matMandatory"></strong></mat-label>
            <input matInput placeholder="Enter Market Price" formControlName="AmountInHand" appNumberOnly />
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Loan Applied (Rs.) <strong class="matMandatory">*</strong></mat-label>
            <input matInput placeholder="Enter Market Price" formControlName="AmountRequired" appNumberOnly />
            <mat-error *ngIf="hasError('AmountRequired', 'required')">Loan Applied <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile mt-2">
          <mat-checkbox class="example-margin" [(ngModel)]="isCheckedEquity" [ngModelOptions]="{standalone: true}">Check Equity</mat-checkbox>
        </div>
      </div>
      <div class="form-group kt-form__group row">
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="outline">
            <mat-label class="customMatLabel">Remarks <strong class="matMandatory">*</strong></mat-label>
            <!--<input matInput placeholder="Enter Market Price" formControlName="NecessitiesDetail"/>-->
            <textarea matInput placeholder="Enter Market Price" formControlName="NecessitiesDetail"></textarea>
            <mat-error *ngIf="hasError('NecessitiesDetail', 'required')">Remarks <strong>required</strong></mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="form-group kt-form__group row">
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-label class="customMatLabel"><b>Borrower Agreed to Pay Insurance For (Opt) Crops</b><strong class="matMandatory">*</strong></mat-label>
          &nbsp;
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Agree</mat-radio-button>
            <mat-radio-button value="2">Not Agree</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group kt-form__group row">
        <div class="col-lg-3 mt-1p">
          <button type="button" class="btn btn-primary" mat-raised-button color="primary" (click)="onSavePurpose()">
            Save
          </button>
          <button type="button" class="btn btn-outline-brand ml-1p" mat-raised-button color="danger" (click)="onClearSavePurpose()">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="form-group kt-form__group row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-striped" *ngIf="loanPurpose.length != 0">
        <thead>
          <tr class="table-header-background">
            <th>GL Code</th>
            <th>Scheme Code</th>
            <th>Crop Code</th>
            <th>Caltivated Area(Marla)</th>
            <th>Quantity</th>
            <th>Market Price</th>
            <th>Equity(Rs.)</th>
            <th>Loan Applied(Rs.)</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let loan of loanPurpose; let i = index;">
            <td>{{loan.GlSubID}}</td>
            <td>{{loan.SchemeID}}</td>
            <td>{{loan.CropID}}</td>
            <td>{{loan.CultivatedArea}}</td>
            <td>{{loan.Quantity}}</td>
            <td>{{loan.TotalEstimatedCost}}</td>
            <td>{{loan.AmountInHand}}</td>
            <td>{{loan.AmountRequired}}</td>
            <td>
              <span (click)="onEditPurpose(loan.GlSubID)"
                    style="cursor: pointer;
                      color: #ecbd00;font-size: 16px;">Edit</span> |
              <span style="cursor: pointer; color: #ecbd00;font-size: 16px;" (click)="onDeletePurpose(loan.GlSubID)">Delete</span>
            </td>


          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#ecbd00"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

