<div id="Kt-portlet-margin-top">
  <kt-portlet>
    <kt-portlet-header [title]="'Loan List'" [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTools>
      </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->
    <kt-portlet-body>
      <div class="kt-form" [formGroup]="loanSearch">
        <div class="row align-items-center mb-4">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Application Date(ddMMyyyy)</mat-label>
              <input readonly="readonly" matInput [matDatepicker]="picker3" placeholder="ddMMyyyy" autocomplete="off" formControlName="Appdt">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>LA File/Booklet#</mat-label>
              <input matInput placeholder="Enter >LA File/Booklet" formControlName="AppNo">
              <!--  <mat-error *ngIf="hasError('landName', 'required')">landName <strong>required</strong></mat-error>-->
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="Status">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Search Loan Status..." (focusout)="validateLoanStatusOnFocusOut()" noEntriesFoundLabel="No Loan Status Found" (keyup)="searchLoanStatus($event.target.value)">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let loanStatus of SelectedLoanStatus" [value]="loanStatus.Id">
                  {{loanStatus.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Loan Case#</mat-label>
              <input matInput placeholder="Enter Loan Case Number" formControlName="LcNo">
              <!--  <mat-error *ngIf="hasError('landName', 'required')">landName <strong>required</strong></mat-error>-->
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-2">
            <button color="primary" type="button" (click)="searchLoan()" class="btn btn-secondary mt-19 kt-login__btn-primary btn-block">
              <span><i class="fa fa-search"> &nbsp;</i> Search</span>
            </button>
          </div>
        </div>
      </div>
      <div class="mat-table__wrapper mat-elevation-z8" [style.height]="gridHeight">
        <mat-table class="lmat-elevation-z8"
                   #table
                   [dataSource]="dataSource"
                   matSort
                   #sort1="matSort"
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>

          <ng-container matColumnDef="BranchName">
            <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
            <mat-header-cell *matHeaderCellDef mat-sort-header>Branch</mat-header-cell>
            <mat-cell *matCellDef="let loan">{{loan.BranchName}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="AppDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Application Date</mat-header-cell>
            <mat-cell *matCellDef="let loan">{{loan.AppDate}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="AppNumberManual">
            <mat-header-cell *matHeaderCellDef mat-sort-header>LA File/Booklet#</mat-header-cell>
            <mat-cell *matCellDef="let loan">{{loan.AppNumberManual}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="LoanCaseNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>LCNO</mat-header-cell>
            <mat-cell *matCellDef="let loan">{{loan.LoanCaseNo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="ApplicationTitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let loan">{{loan.ApplicationTitle}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="DevAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DEV AMOUNT</mat-header-cell>
            <mat-cell *matCellDef="let loan">{{loan.DevAmount}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="ProdAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>PROD AMOUNT</mat-header-cell>
            <mat-cell *matCellDef="let loan">{{loan.ProdAmount}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="StatusName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</mat-header-cell>
            <mat-cell *matCellDef="let loan">{{loan.StatusName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let loan">
              <button mat-icon-button color="primary" (click)="editLoan(loan)">
                <mat-icon style="margin-left: 5px;" title="View Loan">accessibility_new</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div class="mat-table__message" *ngIf="dataSource.data.length==0">No records found</div>
        <!--<div class="mat-table__message">Please wait....</div>-->
      </div>
    </kt-portlet-body>
  </kt-portlet>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#ecbd00"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
