<div class="kt-portlet" style="padding:10px !important">
    <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
      <div class="kt-portlet__head-label">
    
        <h3 class="kt-portlet__head-title">Signature</h3>
      </div>
    </div>
    <div>
  
      <div class="kt-form">
        <div class="kt-portlet__body" style="padding:0px !important;overflow-x: hidden !important;max-height: 70vh !important;">
          <div class="row">
            <div class="col-md-12">
              <label class="pull-right" (click)="clearSignature()" style="padding:5px;font-weight:bold;text-decoration:underline;color: #0f298f !important;cursor: pointer;font-size: 16px;">Clear</label>
            </div>
          </div>
          <br />
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
          <br />
        </div>
  
        <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
          <div class="kt-form__actions kt-form__actions--solid" style="padding: 0px !important;">
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-10 mt-3 mb-3">
                <button mat-raised-button color="primary" (click)="close(false)" [disabled]="submitted">Cancel</button>
  
                <button mat-raised-button color="primary" class="ml-2 pull-right" (click)="saveSignature()" [disabled]="!isSignatureAdded">Next</button>
              </div>
  
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  
  </div>
  
  
  
  <!-- <kt-spinner></kt-spinner> -->