<div id="Kt-portlet-margin-top">
  <kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Notification History'" [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTools>
        <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
        <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
      </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
      <div class="kt-form" [formGroup]="FilterForm">
        <div class="row align-items-center mb-4">
          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <mat-form-field appearance="outline">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" maxlength="30" autocomplete="off">
              <mat-hint align="start"><strong>Search</strong> in all fields</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Choose start date</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="StartDate"
                     (dateChange)="comparisonStartdateValidator()" autocomplete="off">

              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>

              <mat-datepicker #picker1></mat-datepicker>

              <mat-error *ngIf="FilterForm.controls['StartDate'].hasError('invaliddaterange')">
                <strong>Start date cannot be greater than end date</strong>
              </mat-error>
              <mat-error *ngIf="hasError('StartDate', 'required')">Start Date <strong>required</strong></mat-error>

            </mat-form-field>
          </div>
          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Choose end date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="EndDate"
                     (dateChange)="comparisonEnddateValidator()" autocomplete="off">

              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error *ngIf="FilterForm.controls['EndDate'].hasError('invaliddaterange')">
                <strong>End date cannot be earlier than start date</strong>
              </mat-error>

              <mat-error *ngIf="hasError('EndDate', 'required')">End Date <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-3">
            <button (click)="loadAllUsersNotifications()" color="primary" type="button" class="btn btn-secondary  mt-19 kt-login__btn-primary btn-block">
              <span><i class="fa fa-search"> &nbsp;</i> Search</span>
            </button>
          </div>
        </div>
      </div>
      <div class="mat-table__wrapper mat-elevation-z8" [style.height]="gridHeight">
        <mat-table class="lmat-elevation-z8"
                   #table
                   [dataSource]="dataSource"
                   matSort
                   #sort1="matSort"
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>

          <!--<ng-container matColumnDef="Id">
             ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let errorLog">{{errorLog.Id}}</mat-cell>
          </ng-container>-->


          <ng-container matColumnDef="NotificationType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Notification Type</mat-header-cell>
            <mat-cell *matCellDef="let notification">{{notification.NotificationTypeName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="CreateDateTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Create DateTime</mat-header-cell>
            <mat-cell *matCellDef="let notification">{{notification.CreateDateTime|date:'medium'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="CreatedBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header>PP Number/User Name</mat-header-cell>
            <mat-cell *matCellDef="let notification">{{notification.CreatedBy}}</mat-cell>
          </ng-container>

          <!--<ng-container matColumnDef="HistoryId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>History Id</mat-header-cell>
            <mat-cell *matCellDef="let notification">{{notification.HistoryId}}</mat-cell>
          </ng-container>-->
          <!--<ng-container matColumnDef="Ended">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ended</mat-header-cell>
            <mat-cell *matCellDef="let notification">{{notification.Ended}}</mat-cell>
          </ng-container>-->

          <ng-container matColumnDef="View">
            <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
            <mat-cell *matCellDef="let notification">
              <button mat-icon-button color="primary"
                      (click)="viewNotificationLocationDetails(notification)">
                <mat-icon title="View">
                  info
                </mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div class="mat-table__message" *ngIf="!loading && dataSource.data.length==0">No records found</div>
        <div class="mat-table__message" *ngIf="loading">Please wait....</div>
      </div>

      <div class="mat-table__bottom">
        <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
        <mat-paginator [length]="15" [pageSize]="15" [pageSizeOptions]="[15,30, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>

        <!--<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>-->
      </div>
    </kt-portlet-body>
    <!-- end::Body -->
  </kt-portlet>
</div>
