<div id="Kt-portlet-margin-top">
  <kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Pendings Customer'" [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTools>
        <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
        <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
      </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
      <!--<div class="kt-form" [formGroup]="customerSearch">
        <div class="row align-items-center mb-4">
          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Customer Name</mat-label>
              <input matInput formControlName="CustomerName" placeholder="Enter Customer Name" maxlength="100" autocomplete="off" appAlphabetOnly>
            </mat-form-field>
          </div>
          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Cnic</mat-label>
              <input matInput formControlName="Cnic" placeholder="Enter Cnic" maxlength="100" autocomplete="off" [mask]="maskEnums.cnic">
              <mat-error *ngIf="hasError('Cnic', 'pattern')"><strong>{{errors.cnic}}</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Father Name</mat-label>
              <input matInput formControlName="FatherName" placeholder="Enter Father Name" maxlength="100" autocomplete="off" appAlphabetOnly>
            </mat-form-field>
          </div>
          <div class="col-md-3 kt-margin-bottom-10-mobile">

            <mat-form-field class="mat-form-field-fluid" appearance="outline">
              <mat-label>Select Customer Status</mat-label>
              <mat-select formControlName="CustomerStatus">
                <mat-option value="">
                  Select
                </mat-option>
                <mat-option *ngFor="let obj of CustomerStatusLov.LOVs" [value]="obj.Value">
                  {{obj.Name}}
                </mat-option>
              </mat-select>

            </mat-form-field>
          </div>

          <div class="col-lg-3 col-md-3">
            <button (click)="searchCustomer()" color="primary" type="button" class="btn btn-secondary mt-19 kt-login__btn-primary btn-block">
              <span><i class="fa fa-search"> &nbsp;</i> Search</span>
            </button>
          </div>
        </div>
      </div>-->
      <div class="mat-table__wrapper mat-elevation-z8" [style.height]="gridHeight">
        <mat-table class="lmat-elevation-z8"
                   #table
                   [dataSource]="dataSource"
                   matSort
                   #sort1="matSort"
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>

          <ng-container matColumnDef="CustomerName">
            <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
            <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
            <mat-cell *matCellDef="let customer">{{customer.CustomerName}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="FatherName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Father Name</mat-header-cell>
            <mat-cell *matCellDef="let customer">{{customer.FatherName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Cnic">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cnic</mat-header-cell>
            <mat-cell *matCellDef="let customer">{{customer.Cnic}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="CurrentAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Current Address</mat-header-cell>
            <mat-cell *matCellDef="let customer">{{customer.CurrentAddress}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="CustomerStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let customer">{{getStatus(customer.CustomerStatus)}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="View">
            <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
            <mat-cell *matCellDef="let customer">
              <button mat-icon-button color="primary" *ngIf="CheckEditStatus(customer)"
                      (click)="editCustomer(customer)">
                <!-- <mat-icon style="margin-left: 5px;" title="View Customer">accessibility_new</mat-icon> -->
                <mat-icon style="margin-left: 2px;" title="Edit Customer">edit</mat-icon>
              </button>

              <button mat-icon-button color="primary" *ngIf="CheckViewStatus(customer)"
                      (click)="viewCustomer(customer)">
                <mat-icon style="margin-left: 2px;" title="View Customer">visibility</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="View">
            <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
            <mat-cell *matCellDef="let customer">
              <button mat-icon-button color="primary" (click)="viewCustomer(customer)">
                <mat-icon style="margin-left: 5px;" title="View Customer">visibility</mat-icon>
              </button>
            </mat-cell>
          </ng-container> -->

          <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div class="mat-table__message" *ngIf="!loading && dataSource.data.length==0">No records found</div>
        <div class="mat-table__message" *ngIf="loading">Please wait....</div>
      </div>

      <div class="mat-table__bottom">
        <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
        <mat-paginator [length]="15" [pageSize]="15" [pageSizeOptions]="[15,30, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>

        <!--<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>-->
      </div>
    </kt-portlet-body>
    <!-- end::Body -->
  </kt-portlet>

</div>


